<footer class="block">
  <div class="footer d-flex justify-content-center align-items-center">
    <a rel="nofollow" target="_blank" href="https://lucasact4.github.io/">
      <div class="mc-button">
        <span class="title">
          <p>Feito com <span id="heart">❤️</span> por <span class="nickname">lucasact4</span></p>
        </span>
      </div>
    </a>
  </div>
</footer>