<footer class="block">
  <div class="footer stone">
    <div class="mc-menu">
      <div class="mc-button">
        <div class="title">
          <p>Feito com <span id="heart">❤️</span> por <a rel="nofollow" target="_blank" href="https://lucasact4.github.io/Cursos/Exercicios-HTML5-CSS3/mini-projetos/social/">lucasact4</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>