<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% flash.each do |name, msg| %>
      <div class="alert alert-<%= name %> <%= name == "success" ? "alert-success" : "alert-danger" %> alert-dismissible">
        <%= name == "success" ? image_tag("success.png", class: "alert-img") : image_tag("error.png", class: "alert-img") %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= msg %>
      </div>
    <% end %>
  </div>
</div>
